body
{
	background-color: #c9af98;
	font-family: 'Courier New', Courier, monospace;
}
.navbar
{
   background-color:transparent !important;
   border: none !important;
   border-radius: 0% !important;
   margin-bottom: 100px;
}
.nav li
{
	background-color: #3a4660;
	width: 140px;
	height: 45px;
	transform: skew(20deg);
	margin: 10px;
	box-shadow: 0 0 50px #000000;
	text-align: center;

}
.nav li a
{
    color: white !important;
    font-weight: bold;
}
.nav .navbar-nav li a:hover
{
	background-color: #3a4660;
}
.posts{
	background-color: #3a4660;
	padding: 80px;
	width: 50%;
	margin: auto;
	box-shadow: 0 0 50px #000000;
}
.posts a{
	color: #ed8a63;
	letter-spacing: 3px;

}
.posts p{
	color: white;
	margin: 18px 0 18px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}
.entry-meta, .entry-footer span
{
	font-weight: bold;
}
.site-footer
{
	background-color: #3a4660;
	text-align: center;
	height: 40px;
	margin-top: 50px;
}
.site-footer a{
	color: black;
	font-size: 15px;
}
.site-footer span
{
	color:  #ed8a63;
}
.page-one
{
	background-color: #3a4660;
	width: 50%;
	margin: auto;
	padding: 80px;
	color: white;
}
.entry-title
{  
	color: #ed8a63;
	letter-spacing: 3px;
}
.nav-previous, .nav-next
{
	background-color:#3a4660;
	width: 160px;
	padding: 10px;
	border-radius: 8px;
	margin-left: 10px;
}
.screen-reader-text
{
	display: none;
}
.nav-previous a ,.nav-next a
{
	text-decoration: none;
	color: white;
}
.comments-area
{
	background-color: #3a4660;
	width: 50%;
	margin: auto;
	padding: 60px;
	box-shadow: 0 0 50px #000000;
}
#reply-title
{
	color: #ed8a63;
}
.comments-area input
{
	display: block;
	border: none;
	border-radius: 4px;
}
.comments-area .submit
{
background-color: #ed8a63;
color: white;
padding: 10px;
}
.comments-title
{
	color: #ed8a63;
	background-color: #3F3F3F;
	padding: 10px;
	box-shadow: 0 0 50px #000000;
}
.comment-list,.comment-respond
{
	background-color: #3F3F3F;
	padding: 40px;
	box-shadow: 0 0 50px #000000;
}
.comment-body
{
	margin-bottom: 30px;
}
.comment-list b,p,span
{
	color: white;
}
.reply a
{
	background-color: #ed8a63;
	text-decoration: none;
	color: white;
	padding: 8px;
	border-radius: 5px;
}